<div>
  <h1 class="font-bold text-4xl">StaticPages#home</h1>
  <p>Find me in app/views/static_pages/home.html.erb</p>
  <hr />

  <p>Inactive: <%= @inactive_contacts %></p>
  <p>Active: <%= @active_contacts %></p>
  <p>Deactivated: <%= @deactivated_contacts %></p>
  <p>Contact count: <%= @contact_count %></p>
  <p>Event count: <%= @event_count %></p>
  

</div>
