<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @contact %>

    <%= link_to "Edit this contact", edit_contact_path(@contact), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to contacts", contacts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this contact", @contact, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>

    <hr class="my-5"> <h3 class="text-lg font-medium">Events for <%= @contact.full_name %>:</h3> <% if @contact.events.any? %> <ul> <% @contact.events.each do |event| %> <li class="my-2"> <strong>Date:</strong> <%= event.date %> - <strong>Location:</strong> <%= event.location %> - <strong>Summary:</strong> <%= event.summary %> <%= link_to "Edit", edit_event_path(event), class: "ml-2 text-blue-600" %> </li> <% end %> </ul> <% else %> <p>No events found for this contact.</p> <% end %> <%= link_to "Add Event", new_event_path(contact_id: @contact.id), class: "mt-5 rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
  </div>
</div>
