<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @contact %>

    <%= link_to "Edit this contact", edit_contact_path(@contact), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to contacts", contacts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this contact", @contact, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>

    <div class="w-full"> 
      <h3 class="text-lg font-medium">
        Events for <%= @contact.full_name %>:</h3>
      <% if @contact.events.any? %> 
        <div id="events" class="min-w-full overflow-x-auto"> 
          <table class="table-auto border-collapse w-full text-left bg-white shadow rounded-lg"> 
            <thead> 
              <tr class="bg-gray-100 text-gray-700"> 
                <th class="py-2 px-4 border-b">Date</th> 
                <th class="py-2 px-4 border-b">Location</th> 
                <th class="py-2 px-4 border-b">Summary</th> 
                <th class="py-2 px-4 border-b">Actions</th> 
              </tr> 
            </thead> 
            <tbody> 
              <% @contact.events.each do |event| %> 
                <tr class="hover:bg-gray-50"> 
                  <td class="py-2 px-4 border-b"><%= event.date %></td> 
                  <td class="py-2 px-4 border-b"><%= event.location %></td> 
                  <td class="py-2 px-4 border-b"><%= event.summary %></td> 
                  <td class="py-2 px-4 border-b"> <%= link_to "Edit", edit_event_path(event), class: "ml-2 rounded-lg py-2 px-4 bg-blue-100 text-blue-700 inline-block font-medium" %> </td> 
                </tr> 
              <% end %> 
            </tbody> 
          </table> 
        </div> 
      <% else %> 
        <p class="py-2 px-3 bg-red-50 text-red-500 font-medium rounded-lg">No events found for this contact.</p> 
      <% end %> 
        <%= link_to "Add Event", new_event_path(contact_id: @contact.id), class: "mt-5 rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
  </div>
</div>
